In [1]:
import pandas as pd
import numpy as np

In [2]:
data_steam = pd.read_csv('../raw_data/steam_reviews.csv')

data_steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434891 entries, 0 to 434890
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   date_posted             434891 non-null  object
 1   funny                   434891 non-null  int64
 2   helpful                 434891 non-null  int64
 3   hour_played             434891 non-null  int64
 4   is_early_access_review  434891 non-null  bool
 5   recommendation          434891 non-null  object
 6   review                  433375 non-null  object
 7   title                   434891 non-null  object
dtypes: bool(1), int64(3), object(4)
memory usage: 23.6+ MB

In [3]:
data_steam.head()

,date_posted,funny,helpful,hour_played,is_early_access_review,recommendation,review,title
0,2019-02-10,2,4,578,False,Recommended,&gt Played as German Reich&gt Declare war on B...,Expansion - Hearts of Iron IV: Man the Guns
1,2019-02-10,0,0,184,False,Recommended,yes.,Expansion - Hearts of Iron IV: Man the Guns
2,2019-02-07,0,0,892,False,Recommended,Very good game although a bit overpriced in my...,Expansion - Hearts of Iron IV: Man the Guns
3,2018-06-14,126,1086,676,False,Recommended,Out of all the reviews I wrote This one is pro...,Dead by Daylight
4,2017-06-20,85,2139,612,False,Recommended,Disclaimer I survivor main. I play games for f...,Dead by Daylight

In [4]:
data_steam.describe()

              funny        helpful    hour_played
count  4.348910e+05  434891.000000  434891.000000
mean   5.333024e+05       1.004114     364.130773
std    4.785640e+07      59.462935     545.961198
min    0.000000e+00       0.000000       0.000000
25%    0.000000e+00       0.000000      62.000000
50%    0.000000e+00       0.000000     190.000000
75%    0.000000e+00       0.000000     450.000000
max    4.294967e+09   28171.000000   31962.000000

In [6]:
data_bank = pd.read_csv('../raw_data/bank_reviews.csv', encoding_errors = 'ignore')

data_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      505 non-null    object
 1   Stars     505 non-null    int64
 2   Reviews   505 non-null    object
 3   BankName  505 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.9+ KB

In [7]:
data_bank.head()

,Date,Stars,Reviews,BankName
0,10-04-2017,5,"Great job, Wyndham Capital! Each person was pr...",Wyndham Capital Mortgage
1,10-02-2017,5,Matthew Richardson is professional and helpful...,Wyndham Capital Mortgage
2,21-08-2017,5,We had a past experience with Wyndham Mortgage...,Wyndham Capital Mortgage
3,17-12-2017,5,We have been dealing with Brad Thomka from the...,Wyndham Capital Mortgage
4,27-05-2016,5,I can't express how grateful I am for the supp...,Wyndham Capital Mortgage

In [12]:
data_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      505 non-null    object
 1   Stars     505 non-null    int64
 2   Reviews   505 non-null    object
 3   BankName  505 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.9+ KB

In [15]:
data_by_course = pd.read_csv('../raw_data/coursera_by_course_reviews.csv')

data_by_course.CourseId.value_counts()

machine-learning                      8570
learning-how-to-learn                 7090
python                                5906
python-data                           2372
python-network-data                   1844
                                      ...
understanding-china-history-part-1       1
aoo                                      1
understanding-china-history-part-2       1
continuous-learning-culture              1
construyendo-android-proyecto            1
Name: CourseId, Length: 1835, dtype: int64

In [17]:
data_coursera = pd.read_csv('../raw_data/coursera_reviews.csv')

data_coursera.head()

   Id                                             Review  Label
0   0                               good and interesting      5
1   1  This class is very helpful to me. Currently, I...      5
2   2  like!Prof and TAs are helpful and the discussi...      5
3   3  Easy to follow and includes a lot basic and im...      5
4   4  Really nice teacher!I could got the point eazl...      4

In [21]:
joined_coursera =pd.concat([data_by_course, data_coursera])

In [23]:
joined_coursera.Review.shape

(247338,)

In [24]:
joined_coursera.Review.drop_duplicates().shape

(123241,)

In [25]:
ans = joined_coursera.Review.shape[0]- joined_coursera.Review.drop_duplicates().shape[0]

In [26]:
ans

124097