In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../raw_data/raw_en.csv')

df.info()

/tmp/ipykernel_6673/1251664015.py:6: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/raw_en.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457074 entries, 0 to 457073
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            457074 non-null  object
 1   date            351179 non-null  object
 2   recommendation  350678 non-null  object
 3   review          457074 non-null  object
 4   playing_hours   350678 non-null  float64
 5   source          457074 non-null  object
 6   stars           106396 non-null  float64
 7   language        457074 non-null  object
dtypes: float64(2), object(6)
memory usage: 27.9+ MB

In [3]:
df['language'].value_counts()

en    457074
Name: language, dtype: int64

In [4]:
df.head()

,name,date,recommendation,review,playing_hours,source,stars,language
0,Expansion - Hearts of Iron IV: Man the Guns,2019-02-10,Recommended,&gt Played as German Reich&gt Declare war on B...,578.0,steam,NaN,en
1,Expansion - Hearts of Iron IV: Man the Guns,2019-02-07,Recommended,Very good game although a bit overpriced in my...,892.0,steam,NaN,en
2,Dead by Daylight,2018-06-14,Recommended,Out of all the reviews I wrote This one is pro...,676.0,steam,NaN,en
3,Dead by Daylight,2017-06-20,Recommended,Disclaimer I survivor main. I play games for f...,612.0,steam,NaN,en
4,Dead by Daylight,2016-12-12,Recommended,ENGLISH After playing for more than two years ...,2694.0,steam,NaN,en

In [7]:
%%time
from customerchurn.pre_pipeline import create_pre_pipe
from customerchurn.pre_pipeline import series_prepro
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer



pipe = create_pre_pipe()

pipe.fit(df)

df['review_clean'] = pipe.transform(df)[:,0]

CPU times: user 19min 56s, sys: 31.5 s, total: 20min 28s
Wall time: 20min 28s

In [8]:
df.to_csv('../raw_data/processed_df.csv', index=False)

In [ ]:
import os
import shutil

import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text
from official.nlp import optimization  # to create AdamW optimizer

import matplotlib.pyplot as plt

tf.get_logger().setLevel('ERROR')