In [1]:
import tensorflow as tf
import os
import tensorflow_hub as hub
import tensorflow_text as text

2022-02-24 19:52:33.804758: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-02-24 19:52:33.804809: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [5]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [7]:
os.listdir('../models/sentiment_model1')

['keras_metadata.pb',
 'saved_model.pb',
 'keras_metadata.pb:Zone.Identifier',
 'assets',
 'variables',
 'saved_model.pb:Zone.Identifier']

In [8]:
os.listdir('../models/sentiment_model1/assets')

['vocab.txt:Zone.Identifier', 'vocab.txt']

In [9]:
os.listdir('../models/sentiment_model1/variables')

['variables.index:Zone.Identifier',
 'variables.index',
 'variables.data-00000-of-00001:Zone.Identifier',
 'variables.data-00000-of-00001']

In [12]:
os.listdir('../models/sentiment_model1/saved_model.pb')

NotADirectoryError: [Errno 20] Not a directory: '../models/sentiment_model1/saved_model.pb'

In [16]:
os.walk('../models/sentiment_model1')

<generator object walk at 0x7fe81967c9e0>

In [26]:
for parent, dirnames, filenames in os.walk('../models/sentiment_model1'):
    lst =[]
    # Case1: traversal the directories

    for dirname in dirnames:
        print("Parent folder:", parent)
        print("Dirname:", dirname)
    # Case2: traversal the files
    for filename in filenames:
        print("Parent folder:", parent)
        print("Filename:", filename)
        lst.append(filename)

print(lst)

Parent folder: ../models/sentiment_model1
Dirname: assets
Parent folder: ../models/sentiment_model1
Dirname: variables
Parent folder: ../models/sentiment_model1
Filename: keras_metadata.pb
Parent folder: ../models/sentiment_model1
Filename: saved_model.pb
Parent folder: ../models/sentiment_model1
Filename: keras_metadata.pb:Zone.Identifier
Parent folder: ../models/sentiment_model1
Filename: saved_model.pb:Zone.Identifier
Parent folder: ../models/sentiment_model1/assets
Filename: vocab.txt:Zone.Identifier
Parent folder: ../models/sentiment_model1/assets
Filename: vocab.txt
Parent folder: ../models/sentiment_model1/variables
Filename: variables.index:Zone.Identifier
Parent folder: ../models/sentiment_model1/variables
Filename: variables.index
Parent folder: ../models/sentiment_model1/variables
Filename: variables.data-00000-of-00001:Zone.Identifier
Parent folder: ../models/sentiment_model1/variables
Filename: variables.data-00000-of-00001
['variables.index:Zone.Identifier', 'variables.index', 'variables.data-00000-of-00001:Zone.Identifier', 'variables.data-00000-of-00001']

In [27]:
ls =[]
for parent, dirnames, filenames in os.walk('../models/sentiment_model1'):
    for filename in filenames:
        ls.append(parent + filename)
        
ls

['../models/sentiment_model1keras_metadata.pb',
 '../models/sentiment_model1saved_model.pb',
 '../models/sentiment_model1keras_metadata.pb:Zone.Identifier',
 '../models/sentiment_model1saved_model.pb:Zone.Identifier',
 '../models/sentiment_model1/assetsvocab.txt:Zone.Identifier',
 '../models/sentiment_model1/assetsvocab.txt',
 '../models/sentiment_model1/variablesvariables.index:Zone.Identifier',
 '../models/sentiment_model1/variablesvariables.index',
 '../models/sentiment_model1/variablesvariables.data-00000-of-00001:Zone.Identifier',
 '../models/sentiment_model1/variablesvariables.data-00000-of-00001']

In [3]:
model = tf.keras.models.load_model('../models/models_customerchurn_v2_my_model.h5')

ValueError: Unknown layer: KerasLayer. Please ensure this object is passed to the `custom_objects` argument. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details.

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df1 = pd.read_csv('../raw_data/raw_en.csv')

/tmp/ipykernel_19128/984551485.py:6: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('../raw_data/raw_en.csv')

In [48]:
df1

,name,date,recommendation,review,playing_hours,source,stars,language
0,Expansion - Hearts of Iron IV: Man the Guns,2019-02-10,Recommended,&gt Played as German Reich&gt Declare war on B...,578.0,steam,NaN,en
1,Expansion - Hearts of Iron IV: Man the Guns,2019-02-07,Recommended,Very good game although a bit overpriced in my...,892.0,steam,NaN,en
2,Dead by Daylight,2018-06-14,Recommended,Out of all the reviews I wrote This one is pro...,676.0,steam,NaN,en
3,Dead by Daylight,2017-06-20,Recommended,Disclaimer I survivor main. I play games for f...,612.0,steam,NaN,en
4,Dead by Daylight,2016-12-12,Recommended,ENGLISH After playing for more than two years ...,2694.0,steam,NaN,en
...,...,...,...,...,...,...,...,...
457069,zika,NaN,NaN,Trendy topic with talks from expertises in the...,NaN,coursera,4.0,en
457070,zika,NaN,NaN,"Wonderful! Simple and clear language, good ins...",NaN,coursera,5.0,en
457071,zika,NaN,NaN,an interesting and fun course. thanks. dr quincy,NaN,coursera,5.0,en
457072,zika,NaN,NaN,"very broad perspective, up to date information...",NaN,coursera,4.0,en
457073,zika,NaN,NaN,An informative course on the social and financ...,NaN,coursera,4.0,en

In [47]:
df1.recommendation.value_counts

<bound method IndexOpsMixin.value_counts of 0         Recommended
1         Recommended
2         Recommended
3         Recommended
4         Recommended
             ...
457069            NaN
457070            NaN
457071            NaN
457072            NaN
457073            NaN
Name: recommendation, Length: 457074, dtype: object>

In [4]:
df2 = pd.read_csv('../raw_data/yelp_Financial Services_pos.csv')
df3 = pd.read_csv('../raw_data/yelp_Financial Services_neg.csv')
df4 = pd.read_csv('../raw_data/yelp_Real Estate_pos.csv')
df5 = pd.read_csv('../raw_data/yelp_Real Estate_neg.csv')

In [10]:
df2.head(10).review

0    Adulting can suck at times not to mention insu...
1    This was the best government office experience...
2    My work banks with this branch... so I'm there...
3    I recently worked with Paul from Post Creek Mo...
4    This is my first time visiting this Wells Farg...
5    I stopped by here on a Sunday afternoon becaus...
6    I would definitely recommend Rocky to most of ...
7    I was searching for car insurance for my daugh...
8    I called Greenway and they helped me out with ...
9    This has been my personal and business branch ...
Name: review, dtype: object

In [11]:
df3.head(10).review

0    Do not try to get a land loan from these peopl...
1    Don't ever do business with State Farm! Horrib...
2    I hate to write a poor review because the tell...
3    I wish I could rate this location a negative n...
4    They were our only option and treated us as su...
5    These people don't care about their customers ...
6    Honestly I don't know how this place has a rat...
7    Dealing with Amplify is like a very, very, ver...
8    Went in to cash a check written to me on an ac...
9    Do not call that number. It's fake. It leads t...
Name: review, dtype: object

In [36]:
df2['recommended'] = 1
df2

,Unnamed: 0,review,recommended
0,1788,Adulting can suck at times not to mention insu...,1
1,2009,This was the best government office experience...,1
2,5110,My work banks with this branch... so I'm there...,1
3,6366,I recently worked with Paul from Post Creek Mo...,1
4,6396,This is my first time visiting this Wells Farg...,1
...,...,...,...
14366,498119,I really like this Credit Union. They have al...,1
14367,498464,I'm a Realtor and used this terrific office fo...,1
14368,498480,I have been doing my taxes with Dmitry for sev...,1
14369,498626,My wife and I just closed on our first home in...,1
14370,499564,Jim Saxton-State Farm is great. \nI recently m...,1

In [35]:
df3['recommended'] = 0
df3

,Unnamed: 0,review,recommended
0,1001,Do not try to get a land loan from these peopl...,0
1,2965,Don't ever do business with State Farm! Horrib...,0
2,4242,I hate to write a poor review because the tell...,0
3,5096,I wish I could rate this location a negative n...,0
4,5243,They were our only option and treated us as su...,0
...,...,...,...
14164,498789,Don't know what happened to this bank. It used...,0
14165,499555,Frontline Insurance is the worst company of an...,0
14166,499648,I mistakenly sent money through mobile money w...,0
14167,499729,This should be a private bank!! Don't put the ...,0
14168,499760,"failed, customer service support is rude and d...",0

In [14]:
df4.head(10).review

0    Erika was amazing! After months of trying to f...
1    My husband and I were referred to Sean by a fr...
2    Mike was recommended by our agent and did not ...
3    I moved to the Pearl about 2 months ago and I ...
4    The Regents team is incredible. Although I cou...
5    I enjoy living at Avana! The complex is in a g...
6    I don't know what we would have done if we did...
7    My wife and I have been searching for apartmen...
8    I actually enjoy living here. Sure, the prices...
9    These guys rocked! They gave me a courtesy cal...
Name: review, dtype: object

In [16]:
df5.head(10).review

0    For electricity bill mishap: It might be Natio...
1    Do not try to get a land loan from these peopl...
2    Don't live here. Don't do. It's not worth it. ...
3    Where do I start... I would give Zero stars fo...
4    Gables Rock Springs does a lot of false advert...
5    The amenities aren't amazing but they aren't t...
6    Don't be fooled by the nice little neighborhoo...
7    We were looking to rent a house.  We email and...
8    Honestly I don't know how this place has a rat...
9    Disconnected electric car charging stations fo...
Name: review, dtype: object

In [18]:
df4

       Unnamed: 0                                             review
0              27  Erika was amazing! After months of trying to f...
1             226  My husband and I were referred to Sean by a fr...
2             311  Mike was recommended by our agent and did not ...
3             315  I moved to the Pearl about 2 months ago and I ...
4             467  The Regents team is incredible. Although I cou...
...           ...                                                ...
53156      499666  They were a pleasure to work with and tried th...
53157      499819  We cannot say enough great things about Jenn! ...
53158      499947  Shout out to Jose the Maintenance Man! He had ...
53159      499957  My agent Deneen Newton is amazing. She answere...
53160      499977  The entire staff at 1660 was very professional...

[53161 rows x 2 columns]

In [19]:
df5

       Unnamed: 0                                             review
0             179  For electricity bill mishap: It might be Natio...
1            1001  Do not try to get a land loan from these peopl...
2            1213  Don't live here. Don't do. It's not worth it. ...
3            1465  Where do I start... I would give Zero stars fo...
4            3324  Gables Rock Springs does a lot of false advert...
...           ...                                                ...
41794      499534  Just found out that they broke into our apartm...
41795      499705  I was informed that I would be contacted... I ...
41796      499735  I MIGHT give this place 2.5 stars if I could. ...
41797      499750  DO NOT RENT HERE, and here is why\n1- Before I...
41798      499864  Oh boy, where to begin with this place. Ill st...

[41799 rows x 2 columns]

In [37]:
# Stack the DataFrames on top of each other
df_fin = pd.concat([df2, df3], axis=0)

In [49]:
df_fin

,Unnamed: 0,review,recommended
0,1788,Adulting can suck at times not to mention insu...,1
1,2009,This was the best government office experience...,1
2,5110,My work banks with this branch... so I'm there...,1
3,6366,I recently worked with Paul from Post Creek Mo...,1
4,6396,This is my first time visiting this Wells Farg...,1
...,...,...,...
14164,498789,Don't know what happened to this bank. It used...,0
14165,499555,Frontline Insurance is the worst company of an...,0
14166,499648,I mistakenly sent money through mobile money w...,0
14167,499729,This should be a private bank!! Don't put the ...,0
14168,499760,"failed, customer service support is rude and d...",0

In [50]:
df_fin = df_fin.drop(columns='Unnamed: 0')

In [51]:
df_fin

                                                  review  recommended
0      Adulting can suck at times not to mention insu...            1
1      This was the best government office experience...            1
2      My work banks with this branch... so I'm there...            1
3      I recently worked with Paul from Post Creek Mo...            1
4      This is my first time visiting this Wells Farg...            1
...                                                  ...          ...
14164  Don't know what happened to this bank. It used...            0
14165  Frontline Insurance is the worst company of an...            0
14166  I mistakenly sent money through mobile money w...            0
14167  This should be a private bank!! Don't put the ...            0
14168  failed, customer service support is rude and d...            0

[28540 rows x 2 columns]

In [57]:
df_fin.to_csv('../raw_data/fin_yelp', index=False)

In [58]:
df_finy = pd.read_csv('../raw_data/fin_yelp')

In [59]:
df_finy

                                                  review  recommended
0      Adulting can suck at times not to mention insu...            1
1      This was the best government office experience...            1
2      My work banks with this branch... so I'm there...            1
3      I recently worked with Paul from Post Creek Mo...            1
4      This is my first time visiting this Wells Farg...            1
...                                                  ...          ...
28535  Don't know what happened to this bank. It used...            0
28536  Frontline Insurance is the worst company of an...            0
28537  I mistakenly sent money through mobile money w...            0
28538  This should be a private bank!! Don't put the ...            0
28539  failed, customer service support is rude and d...            0

[28540 rows x 2 columns]

In [3]:
gcp_model = tf.keras.models.load_model('../models/Financial_Services_model')

2022-02-24 19:52:44.041232: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-02-24 19:52:44.041301: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-02-24 19:52:44.041347: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (DESKTOP-1CG9GS9): /proc/driver/nvidia/version does not exist
2022-02-24 19:52:44.041684: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [7]:
df_financial = pd.read_csv('../raw_data/data_yelp_heading_split_yelp_Financial_Services')

In [8]:
X = df_financial['review']
y = df_financial['recommendation'].apply(lambda x: 0
                                            if x == 'Not Recommended' else 1)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                            y,
                                                            test_size=0.33,
                                                            random_state=42)

In [10]:
y_pred = gcp_model.predict(X_test)

In [15]:
evaluation = gcp_model.evaluate(X_test,y_test)

295/295 [==============================] - 627s 2s/step - loss: 0.2619 - accuracy: 0.8943 - recall: 0.8863 - precision: 0.8983 - auc: 0.9576